name: Dependabot auto-merge

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  auto-merge:
    uses: ybiquitous/.github/.github/workflows/dependabot-auto-merge-reusable.yml@a1a00eb7b474a9299910fa9baf98c380dc8466ec # v2.5.0
    permissions:
      contents: write
