name: Dependabot auto-merge

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  auto-merge:
    uses: ybiquitous/.github/.github/workflows/dependabot-auto-merge-reusable.yml@f8fcc24daafba740475cba67eaf3d5c19abd3f14 # v2.2.0
    permissions:
      contents: write
