name: npm audit fix

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  npm-audit-fix:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ybiquitous/npm-audit-fix-action@c37fdf3a1e014a5494ba574124c5cedf98894615 # v7.3.6
        with:
          github_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
