name: Release PR

on:
  workflow_dispatch:
    inputs:
      new-version:
        description: New version to release
        required: true
        type: choice
        options: [auto, patch, minor, major]

jobs:
  release:
    uses: ybiquitous/.github/.github/workflows/nodejs-release-pr-reusable.yml@a1a00eb7b474a9299910fa9baf98c380dc8466ec # v2.5.0
    with:
      new-version: ${{ github.event.inputs.new-version }}
    permissions:
      contents: write
      pull-requests: write
