name: Release

on:
  pull_request:
    branches: [main]
    types: [closed]

jobs:
  release:
    uses: ybiquitous/.github/.github/workflows/nodejs-release-reusable.yml@a1a00eb7b474a9299910fa9baf98c380dc8466ec # v2.5.0
    permissions:
      contents: write
      id-token: write
