name: Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["**"]
  # Run the workflow regularly, as auto-merged PRs by bots may not trigger it.
  schedule:
    - cron: "0 0 1,15 * *"

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        node-version: ["18", "20", "22"]
    uses: ybiquitous/.github/.github/workflows/nodejs-test-reusable.yml@main
    with:
      node-version: ${{ matrix.node-version }}
    permissions:
      contents: read

  lint:
    uses: ybiquitous/.github/.github/workflows/nodejs-lint-reusable.yml@main
    permissions:
      contents: read
