name: Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["**"]
  # Run the workflow regularly, as auto-merged PRs by bots may not trigger it.
  schedule:
    - cron: "0 0 1,15 * *"
  # Allow manual triggering of the workflow.
  workflow_dispatch:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        node-version: ["20", "22", "24"]
    uses: ybiquitous/.github/.github/workflows/nodejs-test-reusable.yml@90e41242480929ed641a647c9a6544d4c080f980 # v2.3.1
    with:
      node-version: ${{ matrix.node-version }}
    permissions:
      contents: read

  lint:
    uses: ybiquitous/.github/.github/workflows/nodejs-lint-reusable.yml@90e41242480929ed641a647c9a6544d4c080f980 # v2.3.1
    permissions:
      contents: read
